{% extends 'Home/base.html' %}
{% load static %}
{% block body %}
   
         <div class="page-wrapper">
            <div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Add Area</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'list_areas' %}">Areas</a></li>
                           <li class="breadcrumb-item active">Add Area</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                           <form method="POST"   enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="row">
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Area Information</span></h5>
                                 </div>
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Name</label>
                                       <input type="text" class="form-control" name="name" required>
                                    </div>
                                 </div>
                                   <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Image</label>
                                       <input type="file" class="form-control" name="image">
                                    </div>
                                 </div>
<!--                                 <div class="col-12 col-sm-6">-->
<!--                                    <div class="form-group">-->
<!--                                       <label>Description</label>-->
<!--                                        <textarea name="description" id="description"  rows="10" class="form-control"></textarea>-->
<!--                                    </div>-->
<!--                                 </div>-->

                                 <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                 </div>
                                 <div class="mt-5">
                                       {% if messages %}
                                            <ul class="messages">
                                                {% for message in messages %}
                                                <li {% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                  </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>
      <script src="{%static 'assets/js/popper.min.js' %}"></script>
      <script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
      <script src="{%static 'assets/js/script.js' %}"></script>
   </body>
   <!-- Mirrored from preschool.dreamguystech.com/html-template/add-student.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Oct 2021 11:11:50 GMT -->
</html>
{% endblock %}
